html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
}
*{
    box-sizing: border-box;
}
.card .card-title {
    font-size: 16px;
}
.image-background{
    height: 100px;
    width: 100%;
    background-size: cover;
    background-color: #586161;
}
.content{
    width: 100%;
    height:100%;
    padding-left: 135px;
}
.body-content{
    height:calc(100% - 135px);
    width: 100%;
    background:#f0f0f0;
    position:relative;
    overflow: auto;
}
.side-nav{
    width: 135px;
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #586161;
    border-top-left-radius: 40px;
}
.menu-items{
    height:calc(100% - 315px);
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 25px;
    border-bottom: 1px solid #afafaf;
}
.logo{
    background: #4f5858 url("logo.png") center center no-repeat;
    background-size: 85.47579298831386px 100px;
    width: 135px;
    height: 135px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border-top-left-radius: 40px;
}
.header{
    height: 135px;
    background:#f8f8f8;
    position:relative;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.header-title,.section-title{
    float: left;
    font-size: 2.5rem;
    margin-top: 0.4em;
    margin-left: 1em;
    color: #6f6f6f;
    font-family: 'PT Sans', sans-serif;
}
.section-title{
    float: initial;
    font-size: 2rem;
    display: block;
}
.menu-icon{
    font-size: 2rem;
}
.menu-item,.menu-item-setup,.menu-item-repo{
    padding: 25px 20px 0 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position:relative;
}
.menu-item a{
    color: white;
    display:block;
}
.modal-overlay{
    border-top-left-radius: 40px;
    height: 100%;
    top:0;
}
.menu-item-setup,.menu-item-repo{
    position:absolute;
    bottom: 20px;
    left:0;
    width: 135px;
}
.menu-item-repo{
    bottom: 100px;
}
.menu-item-inner:hover{
    cursor: pointer;
    background: rgba(200,200,200,0.4);
    border-radius: 4px;
}
.menu-item-inner:hover:after, .menu-item-inner.active:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    border-color: transparent;
    border-right-color: #fff;
    border-width: 10px;
    border-style: solid;
    pointer-events: none;
    cursor: pointer;
}
.menu-item-inner{
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
}
.filter{
    width: 200px;
}
.filters{
    position:absolute;
    top: 60px;
    left: 60px;
    -webkit-app-region: no-drag;
}
.search{
    position:absolute;
    top: 60px;
    right: 36px;
    -webkit-app-region: no-drag;
}
.search-box{
    width: 400px;
}
.search-button-margin{
    margin-right:2em;
    margin-left:1em;
}
.content-section {
    border: 1px solid #dde1e2;
    background: white;
}
.content-section-header {
    border-bottom: 1px solid #dde1e2;
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
    height: 60px;
}
.content-section-inner {
    padding: 1em;
}
.content-padding {
    padding: 2em;
}
::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    background: #e0e0e0;
}
::-webkit-scrollbar-corner {
    background: #cfcfcf;
}
::-webkit-scrollbar-thumb {
    background: #009688;
}
#connection-status-message{
    text-align: right;
    white-space: nowrap;
    float: right;
    margin-right: 30px;
    margin-top: -2px;
}
#connection-status{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    right: 17px;
    top: 57px;
    -webkit-app-region: no-drag;
}
#connection-refresh,#connection-refresh-loading{
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
#open-debugger{
    position: absolute;
    right: 85px;
    top: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.connection-status-connected{
    background-color:#4caf50;
}
.connection-status-unauthorized{
    background-color:#ff9800;
}
.connection-status-disconnected{
    background-color:#f44336;
}
.connection-status-too-many{
    background-color:#9c27b0;
}
.link{
    color:lightseagreen;
    cursor: pointer;
}
.setup-image{
    width: 100%;
}
.setup-content{
    height: 550px;
}
#connection-ip-address{
    position:absolute;
    bottom: 30px;
    left: 0;
    width: 135px;
    color:white;
    text-align: center;
}
#enable-wifi{
    position: absolute;
    bottom: 30px;
    left: 15px;
    display: none;
}
#close-app{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.help-link{
    cursor: pointer;
    -webkit-app-region: no-drag;
}
/*.fixed-height{*/
    /*height: 425px;*/
/*}*/
.add-repo{
    position: absolute;
    top: 80px;
    left: 30px;
    -webkit-app-region: no-drag;
}
.edit-repo{
    font-size: 14px;
}
.cursor{
    cursor: pointer;
}
.modal.bottom-sheet{
    max-height: initial;
    height: 260px;
}

.loader-initial {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0094ca; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
}
.spinner,.spinner-drag{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display:none;
}
.spinner-background{
    background-color: rgba(255,255,255,0.5);
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 40px;
    z-index: 9;
    display:none;
}
.well{
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
.well-lg{
    padding:24px;
    border-radius:6px
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}